#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  padding: 2em;
  width: 10em;
  background-color: #323232;
  font-size: 16px;
}

.topbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  padding: 8px;
  background-color: #323232;
  top: 0;
  left: 14em;
  right: 0;
  height: 48px;
  overflow-x: auto;
  gap: 8px;
  border-bottom: 1px solid #404040;
}

.tab-item {
  display: flex;
  align-items: center;
  gap: 4px;
  background: #404040;
  border-radius: 4px;
  padding: 4px;
  flex-shrink: 0; /* Prevent tabs from shrinking */
}

.tab-item button {
  padding: 6px 12px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.tab-close {
  padding: 2px 6px !important;
  border-radius: 50%;
}

.tab-close:hover {
  background: #ff5555 !important;
}

.active-tab {
  background: #1a1a1a !important;
}

.terminal-tab {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.terminal-tab.active {
  display: block;
}

.add-host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 375px;
  transform: translate(-50%, -50%);
  gap: 0.5em;
  padding: 1em;
  z-index: 1;
  background-color: #323232;
  box-shadow: #1a1a1a 0 0 1em;
  border-radius: 8px;
}

.add-host-close {
  position: absolute;
  top: -7px;
  right: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
}

.add-host h2 {
  margin: 0.2em;
}

.add-host input {
  margin-top: 0.1em;
}

.add-host button {
  margin-top: 1em;
}

.add-host.hidden {
  display: none;
}

.terminal-wrapper {
  position: fixed;
  top: 64px;
  left: 14em;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  text-align: left;
}

.terminal-container {
  width: 100%;
  height: 100%;
  border: none;
  text-align: left;
}