@import '@fontsource/inter';
@import "tailwindcss";

.tab-group::after {
  content: '';
  width: 1px;
  height: 24px;
  background-color: #4a5568;
  margin: 0 8px;
}

.terminal-container {
  min-height: 0;
}

.terminal-container > div {
  min-height: 0;
}

.tablist::-webkit-scrollbar {
  width: 1px !important;
  height: 1px !important;
  background: transparent !important;
}

.tablist::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2) !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}